<div class="remove-container container-block">
<h2 class="container-block-title">Coursework</h2>
<ul class="list-unstyled interests-list">
<li>Principles in Computer Architecture</li>
<li>Data Mining and Analytics</li>
<li>Big Data Science and Knowledge</li>
<li>Statistical Natural Language Processing</li>
<li>Database System Implementation</li>
<li>Unsupervised Learning</li>
<li>Algorithm Design and Analysis</li>
<li>Principles of Database Systems</li>
<li>Probabilistic Reasoning and Learning</li>
<li>Recommender Systems and Web Mining</li>
</ul>
</div>
