<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
     <div style="text-align: justify; text-justify:inter-word"> 
     <p>I am a Master's in Computer Science student at University of California San Diego. 
          I am passionate about solving Big Data problems, building data pipelines, and working on the Back-end development of applications. 
          In addition, by exploring the field of Machine Learning, I am learning how Data Engineers work with Data Scientists 
          to provide solutions to user problems. </p>
    </div>
</div><!--//summary-->
</section><!--//section-->
