<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
     <div style="text-align: justify; text-justify:inter-word"> 
     <p>I am currently pursuing my Master's in Computer Science from University of California San Diego. My interests lie in the field of 
         Data Engineering, Databases, Machine Learning, Big Data Processing and Analytics, and Back-end development. </p>
    </div>
</div><!--//summary-->
</section><!--//section-->
