 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">University of Massachusetts, Amherst</h4>
    <h4 class="degree">MSc in Electrical and Computer Engineering</h4>
    <h4 class="degree">GPA 3.5</h4>
    <div class="time">May 2018 (Expected)</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">SRM University, India</h4>
    <h4 class="degree">BTech in Instrumentation and Control Engineering</h4>
    <h4 class="degree">CGPA 8.9</h4>
    <div class="time">May 2014</div>
</div><!--//item-->
</div><!--//education-container-->