 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">University of California San Diego</h4>
 <h4 class="degree"><i>Master of Science (MS) in Computer Science</i></h4>
 <h4 class="degree"><b>CGPA 3.93/4</b></h4>
    <div class="time">September 2021-December 2022</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Sardar Patel Institute of Technology, Mumbai, India</h4>
 <h4 class="degree"><i>Bachelor of Engineering (BE) in Computer Engineering</i></h4>
 <h4 class="degree"><b>CGPA 9.56/10</b></h4>
    <div class="time">August 2014-May 2018</div>
</div><!--//item-->
</div><!--//education-container-->
