<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer Intern</h3>
                            <div class="time">June 2017 - Sept 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Amadeus, Boston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked on Amadeus Social Media Management tool. The first part of my internship was focussed on creating a natural language processing module for analyzing social media data (twitter). The second part was creating the user-interface for displaying the social media data, customer and flight details and customer profiles. The thord part constituted interfacing Amadeus's Customer Experience Mangement (CEM) with the application and creating REST API end-points in backend for retrieving customer profiles.</p>  
                        <p>I worked on Python, Flask, MongoDB, Angular, HTML and CSS.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant System Engineer</h3>
                            <div class="time">Sept 2014 - June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked on a project that provided Manufacturing Execution System (MES) solutions to our client. I was part of a team that gave real-time and updated information about the production plants, and helped our clients make informed decisions, and identify opportunities for improving the production process. These goals are achieved by integrating the Enterprise Resource Planning system with the Shop Floor Control system.</p>  
                        <p>I worked on GE Proficy -Plant Applications, SQL and Java.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Embedded Systems Engineer Intern</h3>
                            <div class="time">May 2013 - July 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Tech Innovates Embedded Solution, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Obtained hands-on experience with advanced micro-controllers and their coding. Designed circuits that involved interfacing AVR micro-controllers with LEDs', keyboards and LCDs'.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->