<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Analyst (ETL Developer)</h3>
                            <div class="time">July 2018 - July 2021</div>
                        </div><!--//upper-row-->
                        <div class="company">Barclays Global Service Centre Private Limited, Pune, India</div>
                    </div><!--//meta-->
                    <div class="details">
<p>I worked with the Data Delivery Services Team as an Extract Transform and Load (ETL) Developer. 
  Data processing was done using the tool Ab Initio on top of the Hadoop Infrastructure. 
  I got to work with Parquet and Avro files and analyzed data in HIVE using SQL. 
  We had to collaborate with Data Consumers to understand their requirements and build a pipeline (Ab Initio graphs) to load data to the warehouse. 
  Our data was used for Business Analytics and Machine Learning model training and hence any discrepancy would lead to invalid results. 
  To maintain data quality, we would perform data reconciliation and validate data using SQL. </p>

<p>The ETL jobs were automated and I got to learn about job scheduling, resource management, and handling dependencies. 
  In addition to that, I got experience working with UNIX commands and how to utilize Shell scripting to automate trivial tasks. 
  Lastly, my affinity towards data made me initiate a biweekly meeting with Data Stewards to understand the relationship and meaning of underlying data,
  how to best perform transformations based on use cases and how we could maintain it for the most optimal use.</p>

                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->
