<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Folfox-Network</h3>
                        <div class="time">Mar 2018</div>
                    </div>
                    <div class="company">Social Network</div>
                    <p>
                        I created a social networking website featuring signup/login, wall, profile pages. The user can post and also comment and like on other people's posts. In the profile page the user can view/edit his profile, send and accept friend requests. Chatting is implemented using websockets. MongoDB serves as the database. The application is made in Node.js. I created docker image for the application and deployed it on Digital Ocean. The configuration involves 1 MongoDB server, 2 NodeJS application servers and 1 load balancer. I used a separate droplet for Rancher to manage the servers and to scale.
                    </p>
                    <p><b>Node.js, websockets, MongoDB, Docker, Rancher, Digital Ocean</b></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Mini-Pregel</h3>
                        <div class="time">Nov 2017</div>
                    </div>
                    <div class="company">Graph Analytic System to calculate PageRank</div>
                    <p>
                        I designed a multi-threaded graph analytics system modeled on Google’s Pregel. Given a graph, the system calculates the PageRank of all the vertices. The communication between vertices is achieved using message queues and synchronization using cyclic barriers.
                    </p>
                    <p><b>Java, Multi-threading</b></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Distributed Word Count</h3>
                        <div class="time">Oct 2017</div>
                    </div>
                    <div class="company">Master-worker paradigm distributed word count system</div>
                    <p>
                        I built a distributed word-count system consisting of master and many worker nodes. The master manages the workers - spawns/re-spawns them; does fault-tolerance by sending heartbeat messages every 3 seconds; and renders the final output. The workers communicate with master using sockets.
                    </p>
                    <p><b>Java, Multi-processing</b></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Tic-Tac-Toe</h3>
                        <div class="time">Oct 2017</div>
                    </div>
                    <div class="company">Tic-Tac-Toe games using MVC architecture</div>
                    <p>
                        I designed a tic-tac-toe game using MVC architecture. The model, view and controller are decoupled such that replacement of a component doesn't effect the others. I used the Adapter Pattern to interface the view (grid of buttons) with the controller.
                    </p>
                    <p><b>Java, Spring, MVC</b></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">FolfoxSearch</h3>
                        <div class="time">Aug 2017 - Sept 2017</div>
                    </div>
                    <div class="company">A search engine</div>
                    <p>
                        I created a simple search engine comprising of web-crawler, parser, indexer, tf-idf and PageRank, and MongoDB. The crawled pages were parsed using filtering techniques like stemming, stop word removal, etc. I used Cloudera VM running Hadoop MapReduce to index the pages. Ranking was then done using a combination of tf-idf and PageRank. The project was also deployed on an AWS EC2 instance using DynamoDb and S3 file storage.
                    </p>
                    <p><b>Python, Hadoop Map Reduce, MongoDB and AWS</b></p>
                    <p><a href='https://github.com/akashmantry/FolfoxSearch'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Linear Regression</h3>
                        <div class="time">Sept 2017 - Sept 2017</div>
                    </div>
                    <div class="company">Implementation of linear regression using gradient descent and normal equations</div>
                    <p>
                        I implemented two Linear Regression models using Gradient Descent algorithm and Normal Equations without using any Machine learning libraries from scratch. I then compared the performance using RMSE and R-Square metrics by varying variance, size of the dataset, correlation, etc.
                    </p>
                    <p><b>Python</b></p>
                    <p><a href='https://github.com/akashmantry/LinearRegression'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">GestureMusic</h3>
                        <div class="time">Feb 2017 - May 2017</div>
                    </div>
                    <div class="company">A hand gesture controlled Android music player</div>
                    <p>
                        I created an Android music player application whose features like play/pause, volume control and switching to previous/next songs were controlled by hand gestures detected from Microsoft Band. The pipeline of segmentation, feature extraction and classification layers was implemented in Python. I employed socket programming and Plotly's JavaScript API to achieve data communication and visualization respectively.
                    </p>
                    <p><b> Python, Android and Plotly</b></p>
                    <p><a href='https://github.com/akashmantry/GestureMusic'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Web Crawler</h3>
                        <div class="time">May 2017 - May 2017</div>
                    </div>
                    <div class="company">A multi-threaded web crawler for wikipedia.</div>
                    <p>
                        I created a multi-threaded web crawler from scratch in Python. The cralwer was deployed on AWS EC2 instance and its results were stored in S3 file storage.
                    </p>
                    <p><b> Python, AWS and S3</b></p>
                    <p><a href='https://github.com/akashmantry/WebCrawler'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">KnowYourSurroundings</h3>
                        <div class="time">Apr 2017 - Apr 2017</div>
                    </div>
                    <div class="company">A website that tells the interesting places near user using Wikipedia APIs'.</div>
                    <p>
                        I created a web application that takes in a location from user and displays the interesting places near that location. Along with the location on map, it also gives links from Wikipedia of those places. A user sign-up page was also created. The site was hosted on Heroku.
                    </p>
                    <p><b>Python, Flask, Heroku, PostgreSQL and WikiPedia APIs'</b></p>
                    <p><a href='http://protected-caverns-51313.herokuapp.com'>Check it live</a></p>
                    <p><a href='https://github.com/akashmantry/knowyoursurroundings'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Phoenix</h3>
                        <div class="time">Nov 2016 - Dec 2016</div>
                    </div>
                    <div class="company">A Secure Mobile Payment Application</div>
                    <p>
                        I worked in a team to design and implement a secure multi-threaded mobile payment system which involves four entities Merchant, Payment Gateway, Certificate Authority (Java servers) and Client (Android application). We used 512-bit RSA key pair, MD-5 hashing, X.509v1 certificates, encrypted timestamps and session keys for ensuring confidentiality, integrity, and authentication. We added One time password (OTP) as a second layer of authentication. Email and message notifications were also enabled.
                    </p>
                    <p><b> Java, Android, Twilio’s Java API, JDBC-SQLite and JavaMail API</b></p>
                    <p><a href='https://github.com/akashmantry/Phoenix-Secure-E-Commerce-Payment-System-'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">RestaurantMenuWithOAuth</h3>
                        <div class="time">Dec 2016 - Dec 2016</div>
                    </div>
                    <div class="company">A restaurant menu application using OAuth</div>
                    <p>
                        I created a Restaurant Menu application with OAuth2 APIs of Google+ and Facebook. The application displays a list of restaurants and their menus to users. Users can sign in using their Google+ or Facebook credentials. The restaurant owner can add, edit or delete an item/restaurant. (CRUD functionality). Access to modify is restricted to the owner of that particular restaurant.
                    </p>
                    <p><b> Python, Flask, SQL Alchemy, CSS, Bootstrap</b></p>
                    <p><a href='https://github.com/akashmantry/RestaurantMenuWithOAuth'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Analysis of Google's QUIC Protocol</h3>
                        <div class="time">Oct 2016 - Nov 2016</div>
                    </div>
                    <div class="company">FA brief analysis of Google's QUIC protocol</div>
                    <p>
                        I experimentally analyzed the performance of Google's QUIC protocol on GENI testbed. I used the proto-quic library for obtaining QUIC connections. The performance was tested by measuring download time of different files under bandwidth restriction, varied initial pacing rate, UDP and TCP cross-traffic and delays in transfer. Simulation of the project was done on GENI testbed to get real-time performance analysis.
                    </p>
                    <p><b> C++, GENI and Linux</b></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">BlogWithAkash</h3>
                        <div class="time">May 2016 - July 2016</div>
                    </div>
                    <div class="company">A blogging website</div>
                    <p>
                        I created and designed the sign up, log in and blog creation pages. I then implemented wiki to allow users to edit blogs. The passwords were stored secure using sha256, random salt, and secret. The website was then deployed using Google App Engine.
                    </p>
                    <p><b>Python, Jinja, Google App Engine, HTML, MaterializeCSS</b></p>
                    <p><a href='http://blogwithakash.appspot.com/'>Check it live</a></p>
                    <p><a href='https://github.com/akashmantry/BlogWithAkash'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">FolfoxMusic</h3>
                        <div class="time">Sept 2014 - Dec 2014</div>
                    </div>
                    <div class="company">A desktop music player application</div>
                    <p>
                        I developed a music player application using Processing. I used 'minim'- a music library for playing audio and employed Fast Fourier Transform (FFT) to audio signals for visualization. I the added audio’s meta-information in display, and support for keyboard inputs.
                    </p>
                    <p><b>Processing</b></p>
                    <p><a href='https://github.com/akashmantry/FolfoxMusic'>Check it on Github</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="project-title">Home Butler</h3>
                        <div class="time">Dec 2013 - May 2014</div>
                    </div>
                    <div class="company">A Voice Controlled Robot for the differently abled</div>
                    <p>
                        I collaborated on the design of an autonomous robot which fetches objects upon a voice or text command. The objects and their locations are pre-fed into a library. So on the command the robot moves towards the object's location and on reaching it an on board camera starts taking images of the location, simultaneously comparing it with already stored images of the object. Upon successful comparison the robot activates a mechanical gripper which then extends towards the object and fetches it. Once the object is gripped it traces the path back to the user along with the object.
                    </p>
                    <p><b>LabVIEW, MATLAB, Android and Arduino</b></a></p>
                </div>
            </section><!--//section-->
