<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  
                    <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">XQuery Processor</h3>
                        <div class="time">January 2022 - March 2022</div>
                    </div>
                    <div class="company">University of California San Diego - Course Project</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      This project was a part of the course Database System Implementation. We built an XQuery processor in Java 
                      using the ANTLR4 generated classes to parse the query and read the XML data using DOM. Subsequently, we developed an XQuery 
                      evaluator that would return the results by visiting the parsed nodes in the abstract syntax tree of the query. 
                      Lastly, if the input query conformed to a subset of XQuery grammar, it would undergo re-writing and be executed 
                      using join optimizations.
 
                    </p>
                    <p><b>Java, XQuery, XMl, ANTLR4</b></p>
                    <p><a href="https://github.com/juzergolwala/XQuery_Processor">Check it out on GitHub</a></p>

                 </div>
                </div>
  
                  <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Tennis Tournament Scheduling</h3>
                        <div class="time">January 2022 - March 2022</div>
                    </div>
                    <div class="company">University of California San Diego - Course Project</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      This project was a part of the course Algorithm Design and Analysis. Using search and optimization algorithms, 
                      we had to solve a real-world problem. For our project, the optimization task was to maximize the revenue earned 
                      from a tennis tournament. Scheduling a tennis tournament is contingent on various constraints which we identified and 
                      incorporated into our implementation. We studied different approaches and algorithms and designed a greedy 
                      algorithm that would maintain fairness amongst players and give the optimum schedule of tennis matches on 
                      courts at the disposal of an organizer that would maximize revenue.
                     
                    </p>
                    <p><b>Python, Algorithm Design, Correctness Proof</b></p>
                    <p><a href="https://github.com/juzergolwala/Tennis_Tournament_Scheduling">Check it out on GitHub</a></p>

                 </div>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Recipe Cook and Rating Prediction Model</h3>
                        <div class="time">November 2021</div>
                    </div>
                    <div class="company">University of California San Diego - Course Project</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      This project was a part of the course Recommender Systems and Web Mining. Using the data from Food.com,
                      the first task was to predict whether a user would cook a recipe. The dataset only consisted of entries where a user had cooked a recipe 
                      and given it some rating. Hence, I had to perform negative sampling from the given dataset. Subsequently, I split
                      the data into train and test sets and used feature ablation studies to fit a logistic regression model on the train data using inbuilt 
                      Python library. The accuracy achieved for this task was ~70%. <br>
                      The second task was to predict the rating a user would give a recipe. For this task, I fit a latent factor model on the given 
                      dataset yielding a Mean Squared Error of ~0.8. <br>
                      The solutions to both the tasks are on Kaggle. <b>(Username: Juzer Golwala)</b>.
                    </p>
                    <p><b>Python, Data Analysis, Machine Learning</b></p>
                    <p><a href="https://www.kaggle.com/c/cse158258-cooking-prediction/">Task 1 Kaggle Competition Link</a></p>
                    <p><a href="https://www.kaggle.com/c/cse258-recipe-rating-prediction">Task 2 Kaggle Competition Link</a></p>

                 </div>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Advancing Recommender Systems by Mitigating</h3>
                      <h3 class="job-title">Shilling Attacks</h3>
                        <div class="time">July 2017 - May 2018</div>
                    </div>
                    <div class="company">Sardar Patel Institute of Technology - Final Year Project</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      A year-long project for which we reviewed existing research in the area of Recommender Systems and various difficulties 
                      in building smooth functioning recommender engines. We shortlisted shilling attacks as our research topic. 
                      We studied various kinds of shilling attacks and their effects on different recommender systems. Subsequently, 
                      we formulated a statistical model to detect shilling profiles in recommender systems using 
                      collaborative filtering (user-user similarity). Our model improved the accuracy of detection of shilling profiles 
                      by ~7% (as of existing research).
                    </p>
                  </div>
                    <p><b>Python, Data Analysis and Visualization, Machine Learning</b></p>
                </div>
  
                  <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Course Exit System</h3>
                        <div class="time">January 2017 - May 2017</div>
                    </div>
                    <div class="company">Sardar Patel Institute of Technology - Computer Engineering Department</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      At the end of every semester, each student had to fill out a manual form with multiple-choice questions to give feedback about their
                      understanding of the course. I suggested computerizing this process and building the Course Exit System. I worked on the 
                      back-end and deployment and facilitated its usage during the initial phase. Throughout the life cycle of this project, I presented the 
                      working of the system to the Faculty of Computer Engineering Department, ensuring to incorporate their inputs in the next iteration. 
                      They unanimously decided to use the system for better preservation and analysis of responses after the final presentation.
                    </p>
                  </div>
                    <p><b>PHP, MySQL, Database Design, HTML, CSS</b></p>
                </div>
  
                    <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">GetHitched</h3>
                        <div class="time">July 2016 - November 2016</div>
                    </div>
                    <div class="company">Sardar Patel Institute of Technology - Course Project</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      As a part of the course Web Technologies, we built an interactive matrimonial website - GetHitched. Users could register, fill in their 
                      preferences, like profiles or reject match requests and share their contact details with other users at their discretion 
                      using the inbuilt mailing system. I worked on the back-end and designed a data-driven search algorithm to provide users with a list of 
                      relevant matches in descending order based on their preferences.
                    </p>
                  </div>
                    <p><b>PHP, MySQL, Database Design, HTML, CSS</b></p>
                </div>
  
                      <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Patient Information Management System</h3>
                        <div class="time">January 2016 - July 2016</div>
                    </div>
                    <div class="company">KEM Hospital, Mumbai, India</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      Coordinated with Hospital staff and deployed Patient Information Management System, built using Django framework, 
                      for Dermatology Department of KEM Hospital. Further, assisted doctors in using the system that could keep track of patients, 
                      search patients with keywords and effectively manage the history of treatment carried out by patients.
                    </p>
                  </div>
                </div>


            </section><!--//section-->
