<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Recipe Cook and Rating Prediction Model</h3>
                        <div class="time">November 2021</div>
                    </div>
                    <div class="company">University of California San Diego - Course Project</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      This project was implemented as a part of the course Recommender Systems and Web Mining. Using the data from Food.com,
                      the first task was to predict whether a user would cook a recipe. Since data only consisted of entries where user had cooked a recipe 
                      and given it some rating, for this task I performed negative sampling from the given dataset. Subsequently, I split
                      the data into train and test set and using feature ablation studies I fit a logistic regression model on the test data using inbuilt 
                      Python library. The accuracy achieved for this task was ~70%. <br>
                      The second task was to predict the rating a user would give a recipe. For this task, I fit a latent factor model on the given 
                      dataset yielding a Mean Squared Error ~0.8. <br>
                      The solutions to both the tasks had to be uploaded on Kaggle <b>(Username: Juzer Golwala)</b>.
                    </p>
                    <p><b>Python, Data Analysis, Machine Learning</b></p>
                    <p><a href="https://www.kaggle.com/c/cse158258-cooking-prediction/">Task 1 Kaggle Competition Link</a></p>
                    <p><a href="https://www.kaggle.com/c/cse258-recipe-rating-prediction">Task 2 Kaggle Competition Link</a></p>

                 </div>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Advancing Recommender Systems by Mitigating Shilling Attacks</h3><br>
                        <div class="time">July 2017 - May 2018</div>
                    </div>
                    <div class="company">Sardar Patel Institute of Technology - Final Year Project</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      This was a year long project for which we reviewed existing research in the area of Recommender Systems and various
                      difficulties in building smoothly functioning recommender engines. We shortlisted shilling attacks as our topic of research.
                      After studying various kinds of shilling attacks and their effects on different types of recommender systems, we formulated a statistical
                      model for detection of shilling profiles in recommender systems using collaborative filtering (user-user similarity). Our model
                      improved the accuracy of detection of shilling profiles by ~7% (as of existing research).
                    </p>
                  </div>
                    <p><b>Python, Data Analysis and Visualization, Machine Learning</b></p>
                </div>
  
                  <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Course Exit System</h3>
                        <div class="time">January 2017 - May 2017</div>
                    </div>
                    <div class="company">Sardar Patel Institute of Technology - Computer Engineering Department</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      At the end of every semester, each student had to fill a manual form with multiple choice questions to give feedback about their
                      understanding of the course. I introduced the idea of computerizing this process and built the "Course Exit System". I worked on the 
                      back-end and deployment and facilitated its usage during the initial phase. Throughout the life cycle of this project, I presented the 
                      working of the system to the Faculty of Computer Engineering Department and ensured their inputs were incorporated in the next iterarion. 
                      Post the final presentation, the Faculty members unanimously decided to use the system for better preservation and analysis of responses. 
                    </p>
                  </div>
                    <p><b>PHP, MySQL, Database Design, HTML, CSS</b></p>
                </div>
  
                    <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">GetHitched</h3>
                        <div class="time">July 2016 - November 2016</div>
                    </div>
                    <div class="company">Sardar Patel Institute of Technology - Course Project</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      As a part of the course Web Technologies, we built “GetHitched”, an interactive matrimonial website. Users could register, fill in their 
                      preferences, like profiles or reject match requests and share their contact details with other users at their own discretion 
                      using the inbuilt mailing system. I worked on the back-end and designed a data driven search algorithm to provide users a list of 
                      relevant matches in descending order based on the preferences entered by them.
                    </p>
                  </div>
                    <p><b>PHP, MySQL, Database Design, HTML, CSS</b></p>
                </div>
  
                      <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Patient Information Management System</h3>
                        <div class="time">January 2016 - July 2016</div>
                    </div>
                    <div class="company">KEM Hospital, Mumbai, India</div>
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                      Coordinated with Hospital staff and deployed "Patient Information Management System", built using Django framework, 
                      for Dermatology Department of KEM Hospital. Further, assisted doctors to use the system that could keep track of patients, 
                      search patients with keywords and effectively manage history of treatment carried out by patients.
                    </p>
                  </div>
                </div>


            </section><!--//section-->
