<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-book"></i>Publication</h2>
    
                    <div class="item">
                    <div style="text-align: justify; text-justify:inter-word"> 

                    <p>
                         Aditya Chichani, Juzer Golwala, Tejas Gundecha and Kiran Gawande, <b>"Advancing Recommender Systems by Mitigating Shilling Attacks"</b>, 
                        <i>2018 9th International Conference on Computing, Communication and Networking Technologies (ICCCNT)</i>, 
                        pp. 1-5, doi: 10.1109/ICCCNT.2018.8494141.
                    </p>
                        <p><a href="https://ieeexplore.ieee.org/document/8494141">Read document on IEEE</a></p>
                </div>
                </div>

</section><!--//section-->
